body {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

#weather-buttons {
  width: 300px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  text-align: center;
}

.cardUI {
  padding: 10px;
}

.icon {
  width: 50px;
}

h4,
h5,
h6 {
  margin: 2px 0 2px 0;
}

#location {
  color: #616161;
}

#info {
  display: flex;
  padding: 10px;
  color: #424242;
  align-items: center;
}

.icon-info {
  width: 80px;
}

#weather {
  margin-left: 10px;
}
button {
  text-decoration: none;
  background: none;
  border: 1px solid #fff;
  font-family: "Roboto", sans-serif;
}
button.selected {
  background: rgb(0, 0, 0, 0.2);
  filter: alpha(opacity=90);
  border: 1px solid #9e9e9e;
  /* color: #9e9e9e; */
}
button:focus {
  outline: 0;
}

span {
  font-family: "Roboto", sans-serif;
}

h5 {
  font-size: 11px;
}
